/* sylvanianworld.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.top-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    
}

.top-container h1 {
    font-size: 2.5em;
    color: #663300;
    margin-bottom: 20px;
    border-bottom: 2px dashed #FFDDFF;
    padding-bottom: 5px;
}


.top-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.top-text {
    margin-top: 20px;
    color: #663300;
    font-size: 1.2em;
    line-height: 1.6;
}

.top-text p {
    margin: 10px 0;
}

.main-text {
    font-size: 1.5em;
    color: #d41717d0;
    margin-top: 30px;
    font-weight: bold;
}

.sub-text {
    font-size: 1.2em;
    color: #663300;
    margin-top: 10px;
}
